:root {
  --all-font: 'Roboto', sans-serif;
  --grey-color: #808080;
}

body, html {
  font-family: var(--all-font);
  font-size: 20px;
  background-image: url('images/FormScreen.png');
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  overflow: hidden;
}

input[type="number"]
{
  font-size: 20px;
  font-family: var(--all-font);
}

input[type="time"]
{
  font-size: 20px;
  font-family: var(--all-font);
}

img {
	margin-top: 70px;
	width: 100%;
  height: auto;
}

#bedtime {
	display: block;
	margin-top: 90%;
}

#inputdiv {
	font-size: 20px;
  color: var(--grey-color);
	position: absolute;
	margin-left: 10%;
	margin-top: 35%;
  display: inline;
  width: 50%;
}

#inputdiv2 {
	font-size: 20px;
  color: var(--grey-color);
	position: absolute;
	margin-left: 10%;
	margin-top: 45%;
  width: 30%;
}

#inputdiv3 {
	font-size: 20px;
  color: var(--grey-color);
	position: absolute;
	margin-left: 10%;
	margin-top: 50%;
  width: 50%;
}

#waterpicker {
	margin-top: 100px;
  width: 30%;
}

#hours {
  width: 30%;
}
#meals {
  width: 30%;
}

#db2, #db3, #db4 {
	width: 100%;
  height: auto;
	display: none;
}

#continuebtn {
  font-family: var(--all-font);
  font-size: 20px;
	position: absolute;
	padding: 10px ;
	bottom: 20px;
	right: 20px;
}
#backbtn {
  font-family: var(--all-font);
  font-size: 20px;
	position: absolute;
	padding: 10px ;
	bottom: 20px;
	left: 20px;
  display: none;
}
#savebtn {
  display: none;
  font-family: var(--all-font);
  font-size: 20px;
	position: absolute;
	padding: 10px ;
	bottom: 20px;
	right: 20px;
}
