:root {
  --color-white: #ffffff;
  --color-black: #000000;
}

body, html {
  background-image: url('images/fullBack.png');
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  overflow: hidden;
}

#background-img {
  overflow: hidden;
  position: fixed;
}
