:root {
  --diag-font: 'Roboto', sans-serif;
}

body, html {
  background-image: url('images/fullBack.png');
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  overflow: hidden;
}

#thankswater {
  position: absolute;
  max-height: auto;
  z-index: 1000;
  top: 25%;
  width: 100%;
  display: none;
}

#thanksfood {
  position: absolute;
  max-height: auto;
  z-index: 1000;
  top: 25%;
  width: 100%;
  display: none;
}

#foodDialog, #waterDialog, #sleepDialog {
  display: none;
  position: absolute;
  padding-top: 10px;
  padding-bottom: 20px;
  width: 100%; 
}

#avatar {
  position: absolute;
  max-height: 18%;
  top: 50%;
  left: 40%;
  width: auto;
  z-index: 2500;
}

#bed {
  position: absolute;
  bottom: 2%;
  right: 2%;
  max-height: 20%;
  width: auto;
}

#fridge {
  position: absolute;
  top: 42%;
  right: 2%;
  height: 30%;
  max-height: 25%;
  width: auto;
}

#water {
  position: absolute;
  top: 48%;
  left: 2%;
  max-height: 20%;
  width: auto;
}

#helpCloseBtn {
  display: none;
  position: absolute;
  top:2%;
  right: 2%;
  z-index:4001;
}

#helpScreen {
  display: none;
  z-index: 4000;
  position: absolute;
  height: auto;
  width: 100%;
  top: 0;
}

#help {
  position: absolute;
  bottom: 5%;
  left: 3%;
  max-height: 8%;
  width: auto;
}

#helpText {
  position: absolute;
  bottom: 1%;
  left: 4.5%;
  font-family: var(--diag-font);
  font-size: 20px;
  color: #f6dd60;
}

#settings {
  position: absolute;
  bottom: 19%;
  left: 3%;
  max-height: 8%;
  width: auto;
}

#settingsText {
  position: absolute;
  bottom: 15%;
  left: 2%;
  font-family: var(--diag-font);
  font-size: 20px;
  color: #f6dd60;
}

.healthCounts {
  position: absolute;
  display: inline;
  font-family: var(--diag-font);
  font-size: 20px;
  margin-left: 5%;
}

.healthBars {
  margin-top: 3%;
  margin-left: 15%;
  background-color: #6dba54;
  padding: 4%;
  width: 0%;
  max-width: 60%;
}
#foodBarIcon {
  position: absolute;
  display: inline;
  left: 3.5%;
  height: 5%;
  width: auto;
}
#waterBarIcon {
  position: absolute;
  display: inline;
  left: 2%;
  height: 5%;
  width: auto;
}
#sleepBarIcon {
  position: absolute;
  display: inline;
  left: 1.5%;
  height: 6%;
  width: auto;
}

.dialogBox {
  z-index: 3000;
  top: 40%;
  background-color: #e1e2e3;
  font-size: 30px;
  text-align: center;
  font-family: var(--diag-font);
}

.dialogButton {
  font-size: 30px;
  background-color: #f2f4f5;
  font-family: var(--diag-font);
  border-radius: 30px;
  padding-left: 10%;
  padding-right: 10%;
}

/* resources: https://stackoverflow.com/questions/7190898/progress-bar-with-html-and-css */
